In [1]:
import pandas as pd 
import numpy as np

In [2]:
dt = pd.read_csv('../data/usdbtc.csv')

In [9]:
dt = dt[1500000:]
#removing the first data for very little volatility

In [10]:
dt.head(5)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
1500000,1415317920,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1500001,1415317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1500002,1415318040,349.78,349.78,348.69,348.69,4.570000,1594.078300,348.813632
1500003,1415318100,349.79,349.79,349.79,349.79,0.709630,248.221478,349.790000
1500004,1415318160,349.79,349.96,349.79,349.96,2.169991,759.070026,349.803317

In [11]:
dt.isna().sum()

Timestamp                 0
Open                 428166
High                 428166
Low                  428166
Close                428166
Volume_(BTC)         428166
Volume_(Currency)    428166
Weighted_Price       428166
dtype: int64

In [13]:
dt = dt.fillna(method='ffill')

In [14]:
dt.isna().sum()

Timestamp            0
Open                 2
High                 2
Low                  2
Close                2
Volume_(BTC)         2
Volume_(Currency)    2
Weighted_Price       2
dtype: int64

In [4]:
dt = dt[dt['Timestamp'] % 1800 == 0]

after that the time between the rows is 15 minutes

In [5]:
dt.to_csv('data/usdbtc.csv', columns=(['Timestamp', 'Open', 'High', 'Low', 'Close', 'Volume_(BTC)',
       'Volume_(Currency)', 'Weighted_Price']))

In [6]:
dt.columns

Index(['Unnamed: 0', 'Timestamp', 'Open', 'High', 'Low', 'Close',
       'Volume_(BTC)', 'Volume_(Currency)', 'Weighted_Price'],
      dtype='object')

In [7]:
dt = pd.read_csv('../data/usdbtc.csv')
dt.head(2)

,Unnamed: 0,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,0,1415318400,349.99,349.99,349.99,349.99,0.015944,5.580122,349.990000
1,2,1415320200,349.25,349.25,349.24,349.24,0.416000,145.284094,349.240384

In [8]:
dt.drop(dt.columns[0], axis=1, inplace=True)
dt.to_csv('../data/usdbtc.csv')